<%= form_for(@profesor) do |f| %>
  <% if @profesor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profesor.errors.count, "error") %> prohibited this profesor from being saved:</h2>

      <ul>
      <% @profesor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id, "Profesor" %><br />
    <%= collection_select(:profesor, :user_id, @profesors, :id, :username) %>
    
  </div>
  <div class="field">
    <%= f.label :course_id, "Curso" %><br />
     <%= collection_select(:profesor, :course_id, @cursos, :id, :curso) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
