<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
	 <% if comment.lleva_calificacion && current_user %>
   			<div class="calification">
     			Nota del comentario: <%= comment.calification %>
   			</div>
   		   <% end %> 					
	<h2 class="title"><%= link_to comment.title, comment %></h2>
		<div class="entry">
		   <p class="meta"> <%= comment.commented_on %>. Posteado por <%= comment.user.username %> 
		     </p>
		   <% if comment.my_grade && current_user %>
   			<div class="nota">
     			<%= number_with_precision comment.my_grade, :precision => 2 %>
   			</div>
   		   <% end %> 
      
<div class="message">
  <div class="content">
   
  <div class="texto">
    <%= simple_format comment.content %>
   </div>   
   </div>

  <div id="label2">
  <% if current_user %>
    <%= link_to "Responder", new_comment_path(:parent_id => comment) %> 
    <% if can? :destroy, comment %> |
      <%= link_to "Destroy", comment, :confirm => "Esta seguro?", :method => :delete %>
    <% end %>
  <% end %>    
  </div>

</div>

  </div>
</div>
  </div>
</div>
  </div>
