<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
	 <% if comment.lleva_calificacion && current_user %>
   			<div class="calification">
     			Nota del comentario: <%= comment.calification %>
   			</div>
   		   <% end %> 					
	<h2 class="title"><%= link_to comment.title, comment %> <span class="oculto" style="font-size: 22px;"><%= "("+comment.children.count.to_s+" comentarios)" %></span><% if comment.oculto %>
	<span style="font-size:20px;">(Oculto)</span>
	<% end %></h2>
	
		<div class="entry">
		   <p class="meta"> <%= comment.commented_on %>. Posteado por <%= comment.user.username %> 
		     </p>
		   <% if comment.my_grade && current_user %>
   			<div class="nota">
     			<%= number_with_precision comment.my_grade, :precision => 2 %>
   			</div>
   		   <% end %> 
      
<div class="message">
  <div class="content">
   
  <div class="texto">
    <%= simple_format comment.content %>
   </div>   
   </div>
<% if comment.archivo && comment.archivo.size && comment.archivo.size > 0 %>
	  <%= link_to "Ver archivo adjunto", comment.archivo.url %>
<% end %>
  <div id="label2" style="padding-bottom:5px;">
  <% if current_user %>
    <%= link_to "Responder", new_comment_path(:parent_id => comment) %> 
    <% if can? :destroy, comment %> 
      <%= link_to "Destruir", destruir_path(comment), :confirm => "Seguro?", :method => :delete %>
    <% end %>
    <% if can? :manage, :all %> 
      <%= link_to (comment.oculto ? "Desocultar":"Ocultar"), ocultar_path(comment.id) %>
    <% end %>
  <% end %>    
  </div>

</div>

  </div>
</div>
  </div>
</div>
  </div>
