<%= form_for @user, :validate => true do |f| %>
 
  <span class="comentario"> Puedes omitir esto si no quieres cambiar la contraseña </span>
  <div class="hidder">
  <div class="field">
    <%= f.label :old_password, "Ingrese la contraseña antigua" %><br />
    <%= f.password_field :old_password %>
  </div>
  <div class="field">
    <%= f.label :password, "Contraseña" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmación de contraseña" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  </div>
  
  <div class="field">
    <%= f.label :email, "Mail" %><br />
    <%= f.email_field :email %>
  </div>
  
  <% if can? :create, Course %>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.collection_select :type_id, Type.all, :id, :type_name, :prompt => false %>
  </div>

  <div class="field">
    <%= f.label :active, "Activo" %><br />
    <%= f.check_box :active %>
  </div>

  <% end %>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript">
$('span.comentario').click(function(){
  $('div.hidder').toggle("slow");
});
</script>
