<%= form_for @user, :validate => true do |f| %>
  

  <div class="field">
    <%= f.label :rut %><br />
    <%= f.number_field :rut %>- <%= f.text_field :verificador, :size => 2 %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.collection_select :type_id, Type.all, :id, :type_name, :prompt => false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

<button> p </button>
