<% content_for :title, "TallerHans | Usuarios" %>
    
<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
						
	<div id="search_form">
      <%= form_tag users_path, :method => 'get', :id => "users_search" do %>
      	<%= hidden_field_tag :direction,params[:direction] %>
		<%= hidden_field_tag :sort,params[:sort] %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
	
      <% end %>
    </div>			
						
	<h2 class="title"> Listado de usuarios </h2>
	
	<div class="entry">	  
			 <% if can? :create, Course %>    
<%= paginate @users %>
 <% end %>
<table>
  <tr>
    <% if can? :create, Course %>
    	<th><%= sortable "id","ID" %></th>
    <% end %>    	
    <th><%= sortable "rut", "Rut" %></th>
    <th><%= sortable "username", "Username" %></th>
    <th><%= sortable "email", "Email" %></th>

    <% if can? :create, Course %>    
     <th><%= sortable "type_id", "Type"  %></th>    
     <th><%= sortable "active", "Active?"  %></th>    
     <th></th>
    <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <% if can? :create, Course %>
     <td><%= user.id %></td>
    <% end %>
    <td><%= user.rut %></td>
    <td><%= user.username %></td>    
    <td><%= user.email %></td>
   
    
    <% if can? :create, Course %>
     <% if user.type %>
      <td><%= user.type.type_name %></td>
     <% else %>
      <td> Omitido </td>
     <% end %>
      <td><%= user.active %></td>
     <td><%= link_to 'Show', user %>
     <%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    
  </tr>
<% end %>
</table>

		
						</div>
					</div>
				</div>
</div>


</div>

<div id="label">
<% if can? :create, Course %>
<%= link_to 'Nuevo Usuario', new_user_path %>
<% end %>
</div>


