<h1>Listing users</h1>

    
    <div class="search_area">
      <%= form_tag users_path, :method => 'get', :id => "users_search" do %>
      	<%= hidden_field_tag :direction,params[:direction] %>
		<%= hidden_field_tag :sort,params[:sort] %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
		<br />
      <% end %>
    </div>
    <br />
 <% if can? :create, Course %>    
<%= paginate @users %>
 <% end %>
<table>
  <tr>
    <% if can? :destroy, @user %>
    	<th><%= sortable "id","ID" %></th>
    <% end %>    	
    <th><%= sortable "rut", "Rut" %></th>
    <th><%= sortable "username", "Username" %></th>
    <th><%= sortable "email", "Email" %></th>

    <% if can? :destroy, @user %>    
     <th><%= sortable "type_id", "Type"  %></th>    
     <th><%= sortable "active", "Active?"  %></th>    
     <th></th>
     <th></th>
    <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <% if can? :create, Course %>
     <td><%= user.id %></td>
    <% end %>
    <td><%= user.rut %></td>
    <td><%= user.username %></td>    
    <td><%= user.email %></td>
   
    
    <% if can? :create, Course %>
     <% if user.type %>
      <td><%= user.type.type_name %></td>
     <% else %>
      <td> Omitido </td>
     <% end %>
      <td><%= user.active %></td>
     <td><%= link_to 'Show', user %></td>
     <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Course %>
<%= link_to 'New User', new_user_path %>
<% end %>