<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
<h2 class="title"> Detalle Usuario </h2>
	<div class="entry">	 
<% if can? :create, Course %>
	
<p>
  <b>Id:</b>
  <%= @user.id %>
</p>
<% end %>

<p>
  <b>Rut:</b>
  <%= @user.rut %>
</p>

<p>
  <b>Nombre de usuario:</b>
  <%= @user.username %>
</p>

<p>
  <b>Correo electrónico:</b>
  <%= @user.email %>
</p>

<p>
  <b>Tipo:</b>
  <%= @user.type.type_name %>
</p>

<% if can? :create, Course %>
	
<p>
  <b>Ingresado en:</b>
  <%= @user.since(@user.created_at) %>
</p>

<p>
  <b>Ultima actualización:</b>
  <%= @user.since(@user.updated_at) %>
</p>

<% if @user.password_reset_token %>
<div>
  <b>Ultima recuperación:</b><br />
  <ul>
  <li><b>Token:</b> <%= @user.password_reset_token %></li>
  <li><b>Fecha:</b> <%= @user.since(@user.password_reset_sent_at) %></li>
  </ul>     
</div>
<% end %>

<% end %>

  </div>
						</div>
					</div>
				</div>
</div>


<% if @cursos %>
<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
<h2 class="title"> Cursos </h2>
	<div class="entry">

<p>Cursos:</p>
<ul>
  <% @cursos.each do |c| %>
  	<li> <%= link_to c.curso, c %> <%= c.agno %> </li>
  <% end %>
</ul>
  </div>
						</div>
					</div>
				</div>
</div>
  <% end %>

<% if @cursos %>
<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
<h2 class="title"> Participaciones </h2>
	<div class="entry">

<ul>
  <% @intervenciones.each do |inter| %>
  	
  	<li> <%= (link_to inter.title, inter) if can? :show, inter %> </li>
  	
  <% end %>
</ul>
  </div>
						</div>
					</div>
				</div>
</div>
  <% end %>



<div id="label">
<% if can? :update, @user %>
<%= link_to 'Editar', edit_user_path(@user.username) %> |
<% end %>
<% if can? :manage, :all %>
<%= link_to 'Ver usuarios', users_path %>
<% end %>
</div>


