
<% if can? :create, Course %>
<p>
  <b>Id:</b>
  <%= @user.id %>
</p>
<% end %>

<p>
  <b>Rut:</b>
  <%= @user.rut %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Type:</b>
  <%= @user.type_id %>
</p>

<% if can? :create, Course %>
<p>
  <b>Ingresado en:</b>
  <%= @user.created_at %>
</p>

<p>
  <b>Ultima actualización:</b>
  <%= @user.updated_at %>
</p>
<% if @user.password_reset_sent_at %>
<div>
  <b>Ultima recuperación:</b><br />
  <p><b>Token:</b> <%= @user.password_reset_token %></p>
  <p><b>Fecha:</b> <%= @user.password_reset_sent_at %></p>
</div>
<% end %>
<% end %>

<% if can? :update, @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>


<h1>Other info </h1>

<p>Cursos:</p>
<ul>
  <% @cursos.each do |c| %>
  	<li> <%= c.curso %> <%= c.agno %> </li>
  <% end %>
</ul>




