<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
	
						<h2 class="title">Listado de alumnos</h2>
<div class="entry">	

<table>
  <tr>
    <th>id</th>
    <th>User</th>
    <th>Course</th>
    <th></th>

  </tr>

<% @alumns.each do |alumn| %>
  <tr>
    <td><%= alumn.id %></td>  
    <td><%= alumn.user_id %></td>
    <td><%= alumn.course_id %></td>
    <td><%= link_to 'Show', alumn %>
    <%= link_to 'Edit', edit_alumn_path(alumn) %></td>
  </tr>
<% end %>
</table>

</div>
						</div>
					</div>
				</div>
	</div>

<div id="label">
<%= link_to 'New Alumn', new_alumn_path %>
</div>