<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
	
						<h2 class="title">Listado de cursos</h2>
<div class="entry">	


<table>
  <tr>
  	<th>id</th>
    <th>Curso</th>
    <th>Año</th>
    <th></th>

  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.id %></td>
    <td><%= course.curso %></td>
    <td><%= course.agno %></td>
    <td><%= link_to 'Show', course %>
    <%= link_to 'Edit', edit_course_path(course) %></td>
  </tr>
<% end %>
</table>

</div>
						</div>
					</div>
				</div>
	</div>

<div id="label">
<%= link_to 'Nuev Courso', new_course_path %>
</div>