
<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
<h2 class="title"> Detalle curso </h2>
	<div class="entry">	 
<p>
  <b>Curso:</b>
  <%= @course.curso %>
</p>

<p>
  <b>Año:</b>
  <%= @course.agno %>
</p>

  </div>
						</div>
					</div>
				</div>
</div>

<% if !@profes.eql?([]) %>
	<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">
<h2 class="title">Profesor(es):</h2>
	<div class="entry">	 
  <ul>
  <% @profes.each do |p| %>
    <li><%= link_to p.username, p %></li>
  <% end %>
  </ul>	  	

  </div>
						</div>
					</div>
				</div>
</div>
<% end %>

<% if !@alumnos.eql?([]) %>
		<div class="post">
				<div class="bg1">
					<div class="bg2">
						<div class="bg3">

  <h2 class="title">Alumnos:</h2> 
 	
  <div class="entry">	 
  <table class="grilla">
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>email</th>  
    <th>Rut</th>
  </tr>
  
  <% @alumnos.each do |a| %>
	<tr>
      <td> <%= a.id %> </td>
      <td> <%= a.username %> </td>
      <td> <%= a.email %> </td>
      <td> <%= a.rut %> </td>     	
	</tr>
  <% end %>
  
  </table>	

  </div>
						</div>
					</div>
				</div>
</div>
  <% end %>  
  


<div id="label">
<% if can? :update, @course %>
<%= link_to 'Editar', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Ver cursos', courses_path %>
</div>



