<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
  <meta name="version" content='0.1.1' />
  <meta name="nombre" content='comentarios' /> 
  <meta name="contenido" content='se pueden hacer comentarios' />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= content_for?(:title) ? content_for(:title) : "TallerHans" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper">

<div id="header" class="upper-radius">

<div id="logo">
	<h2> </h2>
	<h1><%= link_to "Taller Web", home_url %></h1>
	<p> iic2515</p>
</div>

<div id="user_nav">
  
  <% if current_user %>
  	<div id="logo"><%= link_to current_user_name, current_user %> | 
  	  <%= link_to "Salir", logout_path%> 
  	</div>
  <% else %>
  <div id="log_in_form" class="right">
  <br/>
     <%= form_tag sessions_path do %>
    	<%= label_tag :mail, "Identificador:", :id => "label" %>	  
    	<%= text_field_tag :mail, params[:mail]%>    
     	<%= label_tag :password, "Pass:", :id => "label" %>
	  	<%= password_field_tag :password, params[:pass] %>
       <%= submit_tag "ingresar" %>     
	 <% end %> 
	  	
   <div class="right"><%= link_to "Registrarse", sign_up_path%>
     |<%= link_to "Conectarse", login_path%>
   </div>
    
    </div>   		  
  <% end %> 
  
  </div>
  
  </div>
  
  
  <div id="menu">
		<ul>
		    <li><%= link_to "Temas", comments_path %></li>		
		<% if current_user  %>
			<li><%= link_to "Home", home_path %></li>
		<% end %>
<% if can? :create, Course  %>
	<li><%= link_to "añadir cursos", new_course_path %></li>
	<li><%= link_to "asignar profesor", profesors_path %></li> 
	<li><%= link_to "asignar alumno", alumns_path %></li> 
<% end %>

<% if can? :read, Course  %>
	<li><%= link_to "cursos", courses_path %></li>
	<li><%= link_to "usuarios", users_path %></li>
<% end %>
    	</ul>
</div>


<div id="page">

		<div id="content">
		<div data-pjax-container>
		
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "#{name}" unless "#{name}".eql?("recaptcha_error") %>
<% end %>

			<%= yield %>
		
			<% if !current_user %>
		 		<div id="void">
		 		 </div>			
			<% end %>
		
		</div>
		
		</div>
		
		<div id="sidebar">
			<ul>
				<li>
					<h2>Aliquam tempus</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
				</li>
				
				<% if content_for?(:log) ? content_for(:log) : false %> 
				<li>
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
				<li>
					<h2>Blogroll</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
				<li>
					<h2>Archives</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
				<% end %>
				
			</ul>
		</div>

</div>

</div>

<% if !content_for?(:log) ? content_for(:log) : "true" %> 
<% if !current_user && @footer && false %>
<div id="footer-wrapper-fake">
	<div id="footer" class="bottom-radius">
		<p>Copyright (c) 2011. Derechos reservados.</p>
		<p> Basado en <a href=" http://www.code-sucks.com/">Free CSS Templates</a></p>
		<span> <%= image_tag "rails.png" %></span>
	</div>
</div>
<% end %>
<% end %>

</body>
</html>
