


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
  <meta name="version" content='0.0.9' />
  <meta name="nombre" content='skin' /> 
  <meta name="contenido" content='nuevo css' />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>TallerHans</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper">

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "#{name}"%>
<% end %>

<div id="header" class="upper-radius">
<div id="logo">
	<h2> </h2>
	<h1>Taller Web</h1>
</div>

    <div id="user_nav">
      <% if current_user %>
    	Logged in as <%= link_to current_user_name, current_user %> | 
    	<%= link_to "Log out", logout_path%>
      <% else %>
        <p class="invite"><%= link_to "Register", sign_up_path%>
        <%= link_to "Sign in", login_path%></p>   
      <% end %>
    </div>



</div>

 <div id="menu">
		<ul></ul>
  </div>		

<div id="page">

<div id="content">
  <%= yield %>
</div>

<div id="sidebar">
			<ul>
				<li>
					<h2>Aliquam tempus</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
				</li>
				
				<li>
					<div id="void">
					</div>					
				</li>
					<li>
					<h2>Aliquam tempus</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
				</li>
					<li>
					<div id="void">
					</div>	
					<div class="void">
					</div>					
				</li>
			</ul>
</div>
				
</div>

</div>
</body>
</html>